{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'logos/LogoSis.png' %}" type="image/x-icon">
    <title>{{title}}</title>

    <link
      rel="stylesheet"
      href="{%static 'lib/fontawesome-free/css/all.min.css'%}"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="{%static 'lib/overlayScrollbars/css/OverlayScrollbars.min.css'%}"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="{%static 'lib/dist/css/adminlte.min.css'%}" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <!-- Select2 -->
    <link
      rel="stylesheet"
      href=" {%static 'lib/select2/css/select2.min.css' %}"
    />

    <link
      rel="stylesheet"
      href=" {%static 'lib/select2-bootstrap4-theme/select2-bootstrap4.min.css' %} "
    />
    
    <!-- datepicker -->
    <link rel="stylesheet" href=" {%static 'lib/jquery-ui/jquery-ui.css' %}" />

    <!-- DataTables -->
    <link
      rel="stylesheet"
      href="{% static 'lib/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{%static 'lib/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
    />
    <!-- Sweetalert2-->

    <link rel="stylesheet" href="{%static 'lib/sweetalert2/sweetalert2.min.css'%}">

    <!-- Jquery-confirm-->
    <link rel="stylesheet" href="{%static 'lib/jquery-confirm/jquery-confirm.min.css'%}">
    {% block head %} 
    
    {% endblock head %}
  </head>

  {% block body %}
  
  {% endblock body %}
</html>